<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.dip.editors.md.MDEditor"
            contributorClass="ru.dip.editors.md.MDEditorContributor"
            default="true"
            extensions="md,mdown,mkd,submd"
            id="ru.dip.editors.mdeditor"
            name="%editor.markdown">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text">
         </contentTypeBinding> 
      </editor>
      <editor
            class="ru.dip.editors.csv.CsvMultiEditor"
            default="true"
            extensions="csv"
            id="ru.dip.editors.csv.editor"
            name="%editor.csv">
      </editor>
      <editor
            class="ru.dip.editors.report.ReportEditor"
            default="true"
            extensions="report"
            id="ru.dip.editors.report.editor"
            name="%editor.report">
      </editor>
      <editor
            class="ru.dip.editors.dip.DipEditor"
            default="false"
            extensions="dip"
            id="ru.dip.editors.dip.editor"
            name="%editor.dip">
      </editor>
      <editor
            class="ru.dip.editors.formeditor.FormsEditor"
            contributorClass="ru.dip.editors.formeditor.FormsEditorActionBarContributor"
            default="true"
            extensions="req"
            id="ru.dip.ui.form.editor"
            name="%editor.form">
      </editor>
      <editor
            class="ru.dip.editors.md.unity.UnityMdEditor"
            contributorClass="ru.dip.editors.md.unity.MDUnityActionBarContributor"
            default="false"
            id="ru.dip.editors.unitymd"
            name="%editor.unity_markdown">
      </editor>
      <editor
            class="ru.dip.editors.xml.XmlEditor"
            default="true"
            extensions="xml"
            id="ru.dip.editors.xml.editor"
            name="XML Редактор">
      </editor>
      <editor
            class="ru.dip.editors.dot.DotEditor"
            contributorClass="ru.dip.editors.dot.DotEditorContributor"
            default="true"
            extensions="dot"
            id="ru.dip.editors.doteditor"
            name="%editor.dot">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ru.dip.views.category"
            name="DIP">
      </category>
      <view
            category="ru.dip.views.category"
            class="ru.dip.editors.dipview.DipView"
            icon="icons/dip_render_view.png"
            id="ru.dip.editors.umlview"
            name="%view.render"
            restorable="true">
      </view>
      <stickyView
            closeable="false"
            id="ru.dip.editors.umlview"
            location="BOTTOM"
            moveable="false">
      </stickyView>
      <view
            category="ru.dip.views.category"
            class="ru.dip.editors.editview.EditViewPart"
            icon="icons/dip_editor_view.png"
            id="ru.dip.editors.editview"
            name="%view.edit"
            restorable="true">
      </view>
      <stickyView
            closeable="false"
            id="ru.dip.editors.editview"
            location="BOTTOM"
            moveable="false">
      </stickyView>
      <view
            category="ru.dip.views.category"
            class="ru.dip.editors.incorrectview.IncorrectLinksView"
            icon="icons/link.png"
            id="ru.dip.editors.incorrectlinks"
            name="%view.links"
            restorable="true">
      </view>
      <stickyView
            closeable="false"
            id="ru.dip.editors.incorrectlinks"
            location="BOTTOM"
            moveable="false">
      </stickyView>
      <view
            category="ru.dip.views.category"
            class="ru.dip.editors.spellcheck.SpellCheckView"
            icon="icons/spellcheck.gif"
            id="ru.dip.editors.view.checkspell"
            name="%view.spelling"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.eclipse.wst.html.core.htmlsource"
            file-extensions="table">
      </file-association>
   </extension>
   
      <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="MarkDown"
            description="MarkDownActionSet.description"
            visible="false"
            id="ru.dip.editor.MarkdownActionSet">
                     <menu
               id="org.eclipse.jdt.ui.source.menu"
               label="Source"
               path="edit">
		    <separator
                  name="commentGroup">
            </separator>
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="importGroup">
            </separator>
            <separator
                  name="generateGroup">
            </separator>
            <separator
                  name="codeGroup">
            </separator>
            <separator
                  name="externalizeGroup">
            </separator>
            <separator
                  name="convertGroup">
            </separator>
         </menu>
            <action
                  definitionId="pro.wesitech.editors.command.format"
                  id="ru.dip.markdown.format"
                  label="Format"
                  menubarPath="org.eclipse.jdt.ui.source.menu/editGroup"
                  retarget="true">
         </action>
               </actionSet>
            </extension>
      <extension
            point="org.eclipse.ui.commands">
         <command
               category="org.eclipse.jdt.ui.category.source"
               id="pro.wesitech.editors.command.format"
               name="Format">
         </command>
         <command
               id="ru.dip.editors.editview.save"
               name="%toolbar.save">
         </command>
         <command
               id="ru.dip.editors.incorrectlinks.check"
               name="Check Links">
         </command>
         <command
               id="ru.dip.editors.command.bold"
               name="Bold">
         </command>
         <command
               id="ru.dip.editors.command.italic"
               name="Italic">
         </command>
         <command
               id="ru.dip.editors.command.navigator.open.in.document"
               name="Открыть в документе">
         </command>
         <command
               id="ru.dip.editors.command.navigator.synhronize.in.document"
               name="Синхронизировать с документом">
            <state
                  class="ru.dip.editors.navigator.SynhronizeDocumentState"
                  id="org.eclipse.ui.commands.toggleState">
            </state>
         </command>
      </extension>
      <extension
            point="org.eclipse.ui.actionSetPartAssociations">
         <actionSetPartAssociation
               targetID="ru.dip.editor.MarkdownActionSet">
            <part
                  id="ru.dip.editors.mdeditor">
            </part>
         </actionSetPartAssociation>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any">
            <command
                  commandId="pro.wesitech.editors.command.format"
                  label="%menu.format"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="ru.dip.editors.mdeditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:ru.dip.editors.editview">
            <command
                  commandId="ru.dip.editors.editview.save"
                  icon="icons/save.png"
                  label="%toolbar.save"
                  style="push"
                  tooltip="%toolbar.save">
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:ru.dip.editors.incorrectlinks">
            <command
                  commandId="ru.dip.editors.incorrectlinks.check"
                  icon="icons/link.png"
                  label="Check Links"
                  style="push"
                  tooltip="Check Links">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="ru.dip.english">
                  </test>
               </visibleWhen>
            </command>
            <command
                  commandId="ru.dip.editors.incorrectlinks.check"
                  icon="icons/link.png"
                  label="Проверить ссылки"
                  style="push"
                  tooltip="Проверить ссылки">
               <visibleWhen
                     checkEnabled="false">
                  <test
                        property="ru.dip.russian">
                  </test>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any">
            <menu
                  label="%menu.search_text">
               <command
                     commandId="org.eclipse.search.ui.performTextSearchWorkspace"
                     label="%menu.workspace"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.search.ui.performTextSearchProject"
                     label="%menu.project"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.search.ui.performTextSearchFile"
                     label="%menu.file"
                     style="push">
               </command>
               <command
                     commandId="org.eclipse.search.ui.performTextSearchWorkingSet"
                     label="%menu.working_set"
                     style="push">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <or>
                        <equals
                              value="ru.dip.editors.umleditor">
                        </equals>
                        <equals
                              value="ru.dip.editors.doteditor">
                        </equals>
                        <equals
                              value="ru.dip.editors.mdeditor">
                        </equals>
                        <equals
                              value="ru.dip.editors.csv.editor">
                        </equals>
                        <equals
                              value="ru.dip.editors.report.editor">
                        </equals>
                        <equals
                              value="ru.dip.editors.metric.editor">
                        </equals>
                        <equals
                              value="ru.dip.ui.form.editor">
                        </equals>
                        <equals
                              value="org.eclipse.ui.DefaultTextEditor">
                        </equals>
                     </or>
                  </with>
               </visibleWhen>
            </menu>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="popup:org.eclipse.ui.popup.any?before=group.edit">
            <command
                  commandId="ru.dip.editors.add_comment"
                  label="Add Comment"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activeMenuSelection">
                        <iterate>
                           <and>
                              <instanceof
                                    value="org.eclipse.jface.text.TextSelection">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="ru.dip.is_md_editor">
                              </test>
                           </and>
                        </iterate>
                     </with>
                     <test
                           property="ru.dip.english">
                     </test>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="ru.dip.editors.add_comment"
                  label="Добавить комментарий"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <with
                           variable="activeMenuSelection">
                        <iterate>
                           <and>
                              <instanceof
                                    value="org.eclipse.jface.text.TextSelection">
                              </instanceof>
                              <test
                                    forcePluginActivation="true"
                                    property="ru.dip.is_md_editor">
                              </test>
                           </and>
                        </iterate>
                     </with>
                     <test
                           property="ru.dip.russian">
                     </test>
                  </and>
               </visibleWhen>
            </command>
         </menuContribution>
         <menuContribution
               allPopups="false"
               locationURI="toolbar:org.eclipse.ui.navigator.ProjectExplorer">
            <command
                  commandId="ru.dip.editors.command.navigator.open.in.document"
                  icon="icons/link_to_document.png"
                  label="%toolbar.open_in_document"
                  style="push">
            </command>
            <command
                  commandId="ru.dip.editors.command.navigator.synhronize.in.document"
                  icon="icons/links_with_document.png"
                  label="%toolbar.synhronize_with_document"
                  style="toggle">
            </command>
         </menuContribution>   
      </extension>
        <extension point="org.eclipse.ui.bindings">
        <key
              commandId="pro.wesitech.editors.command.format"
              contextId="org.eclipse.ui.textEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+M2+F"/>
               </extension>
        <extension
              point="org.eclipse.ui.handlers">
           <handler
                 class="ru.dip.editors.editview.EditViewSaveHandler"
                 commandId="ru.dip.editors.editview.save">
           </handler>
           <handler
                 class="ru.dip.editors.incorrectview.CheckLinksHandler"
                 commandId="ru.dip.editors.incorrectlinks.check">
           </handler>
           <handler
                 class="ru.dip.editors.md.comment.AddCommentHandler"
                 commandId="ru.dip.editors.add_comment">
           </handler>
           <handler
                 class="ru.dip.editors.md.handlers.BoldCommandHandler"
                 commandId="ru.dip.editors.command.bold">
           </handler>
           <handler
                 class="ru.dip.editors.md.handlers.ItalicHandler"
                 commandId="ru.dip.editors.command.italic">
           </handler>
           <handler
                 class="ru.dip.editors.navigator.OpenInDocumentHandler"
                 commandId="ru.dip.editors.command.navigator.open.in.document">
           </handler>
           <handler
                 class="ru.dip.editors.navigator.SynhronizeDocumentHandler"
                 commandId="ru.dip.editors.command.navigator.synhronize.in.document">
           </handler>
        </extension>
        <extension
              point="org.eclipse.ui.actionSetPartAssociations">
           <actionSetPartAssociation
                 targetID="org.eclipse.ui.edit.text.actionSet.presentation">
              <part
                    id="ru.dip.editors.mdeditor">
              </part>
           </actionSetPartAssociation>
        </extension>
        <extension
              point="org.eclipse.ui.editors.annotationTypes">
           <type
                 name="ru.dip.md.editor.boldtype">
           </type>
           <type
                 name="ru.dip.md.editor.italictype">
           </type>
        </extension>
        <extension
              point="org.eclipse.compare.contentMergeViewers">
           <viewer
                 class="ru.dip.editors.merge.form.DiffFormViewerCreator"
                 id="ru.dip.editors.merge.form"
                 label="Form">
           </viewer>
           <viewer
                 class="ru.dip.editors.merge.dia.MergeDiaViewerCreator"
                 extensions="dia"
                 id="ru.dip.editors.merge.dia">
           </viewer>
        </extension>
        <extension
              point="org.eclipse.ui.startup">
           <startup
                 class="ru.dip.editors.Startup">
           </startup>
        </extension>
        <extension
              point="org.eclipse.core.contenttype.contentTypes">
           <content-type
                 base-type="org.eclipse.core.runtime.text"
                 file-extensions="req"
                 id="ru.dip.editors.contenttype.form"
                 name="Form"
                 priority="low">
           </content-type>
           <content-type
                 file-extensions="md"
                 id="ru.dip.editors.content-type.md"
                 name="Markdown"
                 priority="high">
           </content-type>
        </extension>
        <extension
              point="org.eclipse.core.expressions.propertyTesters">
           <propertyTester
                 class="ru.dip.editors.md.MdEditorTester"
                 id="ru.dip.editors.md.tester"
                 namespace="ru.dip"
                 properties="is_md_editor"
                 type="org.eclipse.jface.viewers.ISelection">
           </propertyTester>
        </extension>
        <extension
              point="org.eclipse.ui.bindings">
           <key
                 commandId="ru.dip.editors.command.bold"
                 contextId="ru.dip.editors.context.mdeditor"
                 schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
                 sequence="Ctrl+B">
           </key>
           <key
                 commandId="ru.dip.editors.command.italic"
                 contextId="ru.dip.editors.context.mdeditor"
                 schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
                 sequence="Ctrl+I">
           </key>
        </extension>
        <extension
              point="org.eclipse.ui.contexts">
           <context
                 id="ru.dip.editors.context.mdeditor"
                 name="MarkdownContext"
                 parentId="org.eclipse.ui.textEditorScope">
           </context>
        </extension>
         
</plugin>
