<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.workbench.texteditor.spellingEngine">
      <engine
            class="ru.dip.text.spelling.engine.DipSpellingEngine"
            id="ru.dip.text.spelling.engine2"
            label="DIP Spelling Engine"
            preferencesClass="ru.dip.text.spelling.SpellingPreferences">
      </engine>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ru.dip.text.spelling.EarlyStartup">
      </startup>
   </extension>

</plugin>
